body {
    background-color: lightgray;
    margin: 10px;
    margin-bottom: 60px;
    font-family: 'Cabin', sans-serif;
}

#welcome {
    padding: 20px;
    border: 3px solid #0e21af;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    background-color: black;
    color: white;
}

.movie-count,
.soundtrack-count,
.artist-count {
    color: #0e21af;
}

.movie {
    border: 1px solid black;
    width: 200px;
    height: 298px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
}

.movie-soundtrack,
.artist-album {
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    margin: 5px;
    cursor: pointer
}

#header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: black;
    border: 4px solid white;
    color: white;
    white-space: nowrap;
    margin-bottom: 10px;
}

#header-logo {
    width: 8%;
    margin: 10px;
}

#header-logo-title {
    width: 70%;
    margin-top: 2%;
}

#search-area {
    padding: 10px;
}

#search-button {
    background-color: #0e21af;
    color: white;
}

#search-wrapper {
    margin-top: 10px;
    display: none;
}

#movie-results {
    background-color: darkgray;
    border: 3px solid #0e21af;
    padding: 5px;
    margin-bottom: 10px;
    height: 330px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#soundtrack-results,
#artist-results {
    background-color: darkgray;
    border: 3px solid #0e21af;
    padding: 5px;
    margin-bottom: 10px;
    height: 230px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#soundtrack-header,
#suggested-header {
    background-color: #0e21af;
    color: white;
    text-align: center;
    font-weight: bold;
}

#youtube-logo {
    width: 120px;
    margin-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    display: none;
}

#soundtrack-tracks,
#suggested-tracks {
    height: 500px;
    overflow: auto;
    background-color: white;
    border: 3px solid #0e21af;
    margin-bottom: 10px;
}

th,
td {
    font-size: 14px;
}

.play-button {
    cursor: pointer;
    width: 20px;
}

footer {
    border-top: 8px solid #0e21af;
    background: black;
    text-align: center;
    line-height: 52px;
    height: 60px;
    color: #ffffff;
}

footer img {
    height: 20%;
}

#youtube-player {
    width: 100%;
    height: 350;
}