body {
    background-color: lightgray;
    padding: 5px;
}

.movie-count, .soundtrack-count {
    color: #4641af;
}

.movie {
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    margin: 5px;
    cursor: pointer
}

.movie-soundtrack {
    border: 1px solid black;
    width: 200px;
    display: inline-block;
    margin: 5px;
    cursor: pointer
}

.jumbotron {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #4641af;
    border: 4px solid white;
    color: white;
}

#search-area {
    padding: 10px;
}

#movie-search-wrapper {
    display: none;
}

#movie-search-movies {
    background-color: darkgray;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    height: 340px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#movie-search-soundtracks {
    background-color: darkgray;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    height: 230px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#movie-search-tracks, #movie-search-suggested {
    height: 300px;
    border: 1px solid black;
}
