@mixin menu {
    background: $black;
    color: white;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

@mixin musicResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // background-color: $black;
    // border: 3px solid $highlightColor;
    padding: 10px;
    margin-bottom: 10px;
    // height: 230px;   
    // overflow: auto;
    // overflow-y: hidden;
    // white-space: nowrap;
    margin-bottom: 30px;
}

@mixin scrollbar {

    ::-webkit-scrollbar{
        background: $grey;
        width: 14px;
    }

    ::-webkit-scrollbar-track{
        border-radius: 12px;
        box-shadow: inset 0 0 10px $grey;
    }

    ::-webkit-scrollbar-thumb{
        background: $black;
        border-radius: 10px;
    }
}

@mixin tracks{
    height: 500px;
    overflow: auto;
    background-color: white;
    border: 3px solid $highlightColor;
    margin-bottom: 10px;
}

@mixin album {
    width: 200px;
    display: inline-block;
    margin: 12px;
    cursor: pointer;
}

@mixin theader {
    background-color: $highlightColor;
    color: white;
    text-align: center;
    font-weight: bold;
}